.crossword {

    background-color: var(--element);  
    overflow: scroll;
    height: fit-content;

    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    

    width: 90%;
    min-height: 60%;

    margin-top: 4rem;

    border: var(--border);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    border-radius: 15px;  

    margin-bottom: 4rem;

}

.clues { 

    width: 90%;
    min-height: 20%;
    display: flex;
    flex-direction: column;

    margin-top: 4rem;
    border: var(--border);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    border-radius: 15px;  

    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 4rem;
    padding-bottom: 2rem;
    padding-left: 10vw;
    padding-right: 10vw;
    
}

.placeholder { 

    font-size: 2vw;
    text-align: center;
    justify-content: center;
    margin-top: 27vh;
    
}

.placeholder-clues { 

    font-size: 2vw;
    text-align: center;
    justify-content: center;
    margin-top: 2vh;
    
}

.square {  

    margin: 4px;
    display: inline-block;
    font: 2vw Calibri;
    
    width: 1.25em;
    height: 1.25em;
    line-height: 1.15em;
    vertical-align: middle;

    color: var(--text);

}
  
.letter {

    backdrop-filter: blur(10px);
    border: var(--border-alt);
    border-radius: 5px;
    
    text-align: center;
    
 }
  
.char:focus{

    -webkit-box-shadow: 0 0 0 1px var(--text);
    -moz-box-shadow: 0 0 0 1px var(--text);
    box-shadow: inset 0 0 0 1px var(--text); 
    transition: 0.5s

}
  
.char {

    font-size:1.25vw;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    width: 1.95em;
    height: 1.95em;
    text-align: center;
    background: none; 
    color: var(--text);
    display: block;
    
    border-radius: 5px;

} 
  
.hide {

    visibility: hidden;

}
  
.row { 

    display: block;
    margin-left: 15%;

}

.clue-header { 

    font-size: 2.25rem;
    text-align: center;
    margin-top: 2rem;

}

.clue-type { 

    font-size: 1.75rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 25px;

}

.clue-type .info { 

    font-size: 1rem;
    font-weight: 400;

}

.clue { 

    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0.5rem;

    
}