/* For Document Header */

.header {

  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  padding: 15px 20px 12px 20px;

  background-color: var(--element);
  border: var(--border);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  
}

.header .title { 

    font-size: 2rem;

}

.header .description { 

    font-size: 1.5rem;
    padding-left: 15px;
    
}

.header .line { 

    margin-left: 15px;

}

.header .line::before {

    content: '';
    border-left: 2.5px solid var(--text);
    padding-top: 10px;
    padding-bottom: 7px;
    border-radius: 5px;

}

.footer { 

    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  
    padding: 15px 20px 12px 20px;
  
    background-color: var(--element);
    border: var(--border);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    
    flex-direction: column;

}

.footer .for { 

    font-weight: 400;
    margin-top: 0.5rem;

}